extends layout.pug

block content
    section#content
        if prompt
            h3= prompt
        else   
            h3 Which animal is immortal?
            p
                i Hint: It's the only immortal creature
        if hint 
            p 
                i Hint: #{hint}