extends layout.pug

block content
    section#content
        if prompt
            h3= prompt
            p 
                i Hint: #{hint}
        if answer
            h3 
                i Answer: #{answer}