doctype html
html(lang="en")
  head
    title Flash Cards
    style
        include style.css
  body
    include include/header.pug
    h2 Welcome, #{user}!
      form(action="/bye", method="post") 
        button(type="submit") Log Out
    block content 
    include include/footer.pug