doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel="stylesheet", href="/styles/stylesheets/style.css")
    link(rel="html", href="/html/html")
  body
    include include/header.pug
    if user
      h2 Welcome, #{user}!
        form(action="/bye", method="post") 
          button(type="submit") Log Out
    block content 
    include include/footer.pug