extends layout.pug

block content
    section#content
        if user
            a(href='/cards' class="button") Begin
        else 
            h2 Welcome, Student!
            form(action="/student", method="post")
                label Enter name:
                    input(type="text", name="user")
                button(type="submit") Submit