body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(59, 81, 105);
}

h1 {
    color: rgb(59, 81, 105);
    padding-bottom: 5px;
    border-bottom: 1px rgb(103, 121, 139) dotted;
}
p, label, a {
    color: rgb(103, 121, 139);
}

a:hover {
    color: rgb(59, 81, 105);
}

input {
    padding: 2px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid rgb(148, 166, 185);
}

button {
    background: rgb(38, 123, 192);
    color: white;
    font-size: 1rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px solid rgb(38, 123, 192);
    margin: 5px;
}